<!DOCTYPE html>
<html>
<head>


</head>
<body>
    <center>
        <table border="1" width="600">
            <tr>
            <td colspan="2" align="center">Place to Visit</td><td colspan="2" align="center">Changsha, Hunan</td>
            </tr>
            <tr>
            <td align="center">Location:</td><td align="center">Yuelu District</td><td align="center">Scenic Spot Name:</td><td align="center">Orange Isle</td>
            </tr>
            <tr>
            <td colspan="2" align="center">More information</td><td colspan="2" align="center"><a href="http://en.yls.hnyls.com/">Mt.Yuelu Scenic Spot</a></td>
            </tr>
            <tr>
            <td colspan="4"><img src="../static/OrangeIsle.jpg" width="600"></td>
            </tr>
        </table>
    </center>
</body>

</html>